.eventCard.card {
  --card-border-color: rgb(255, 255, 255, 0.3);
  background-color: var(--general-bg-color);
  border-color: var(--card-border-color);
}

.cardImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.cardImgContainer h5 {
  color: var(--general-font-color);
}

.card-body .list-group-item,
.card-body * {
  color: var(--general-font-color);
  background-color: var(--general-bg-color);
}

.eventCard > .card-body * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-body {
  --bs-card-title-color: var(--general-font-color);
  background-color: var(--general-bg-color);
  border-radius: var(--bs-border-radius);
}

.eventCard > .card-body > a > button {
  font-family: arcadeclassic;
  letter-spacing: 1px;
}
