.container > .row > h1 {
  text-align: center;
}

.timerContainer,
.formContainer {
  justify-content: center;
}

.btnSubmit {
  width: 100%;
  margin-top: 1rem;
}

.timerContainer > div,
.formContainer > div {
  padding: 5vh 5vw;
  border-radius: 1rem;
}
