* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arcadeclassic, Arial, Helvetica, sans-serif;
}

#root {
  color: #fff;
  background-color: rgb(27, 27, 29);
  height: 100vh;
  overflow: hidden;
}

.pageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: arcadeclassic;
  src: url(./assets/arcadeclassic.TTF);
}
