input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arcadeclassic, Arial, Helvetica, sans-serif;
}

html > body {
  background-color: rgb(27, 27, 29);
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  color: #fff;
  height: 100%;
}

.centerPageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: arcadeclassic;
  src: url(./assets/fonts/arcadeclassic.TTF);
}

.normalPageContainer {
  margin-top: 10vh;
}
